body {
  margin: 0px;
  padding: 0px;
    background-color: aquamarine;
    text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 align-content: center;
}

